Repository City-of-Helsinki/kukkuu-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0",
    "prettier --write",
    "vitest related --run"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

test: anchor button
  src/common/components/button/__tests__/AnchorButton.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: additional notes card
  src/domain/profile/events/__tests__/AdditionalNotesCard.test.tsx
  src/domain/profile/events/mockDataUtils.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

ci: add sonarcloud configuration
  sonar-project.properties
Due: none

ci: add Github CI workflow
  .github/workflows/ci.yml
Due: none

test: manage subscriptions
  src/domain/profile/subscriptions/__tests__/ManageSubscriptions.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: replace locale in pathname
  src/common/route/utils/__tests__/replaceLocaleInPathname.test.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: tune tests, use more getByRole, test for mutations etc
  src/common/components/alert/__tests__/AlertModal.test.tsx
  src/common/components/button/__tests__/AnchorButton.test.tsx
  src/common/route/utils/__tests__/replaceLocaleInPathname.test.ts
  src/domain/child/__tests__/ChildEnrolmentCount.test.tsx
  src/domain/child/__tests__/ChildEventInvitationLabel.test.tsx
  src/domain/profile/events/AdditionalNotesCard.tsx
  src/domain/profile/events/__tests__/AdditionalNotesCard.test.tsx
  src/domain/profile/modal/__tests__/RequestVerificationTokenButton.test.tsx
  src/domain/profile/subscriptions/ManageSubscriptionsForm.tsx
  src/domain/profile/subscriptions/__tests__/ManageSubscriptions.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: add a missing value to child enrolment count mock
  src/domain/child/__tests__/ChildEnrolmentCount.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: refactor test for new notes
  src/domain/profile/events/__tests__/AdditionalNotesCard.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: configure vitest and increase test coverage
  package.json
  sonar-project.properties
  src/common/components/alert/__tests__/AlertModal.test.tsx
  src/common/components/button/__tests__/AnchorButton.test.tsx
  src/common/components/kukkuuPill/KukkuuPill.tsx
  src/common/route/utils/__tests__/replaceLocaleInPathname.test.ts
  src/domain/child/__tests__/ChildEnrolmentCount.test.tsx
  src/domain/child/__tests__/ChildEventInvitationLabel.test.tsx
  src/domain/profile/events/AdditionalNotesCard.tsx
  src/domain/profile/events/__tests__/AdditionalNotesCard.test.tsx
  src/domain/profile/events/mockDataUtils.ts
  src/domain/profile/modal/RequestVerificationTokenButton.tsx
  src/domain/profile/modal/__tests__/RequestVerificationTokenButton.test.tsx
  src/domain/profile/subscriptions/ManageSubscriptionsForm.tsx
  src/domain/profile/subscriptions/__tests__/ManageSubscriptions.test.tsx
  vitest.config.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

chore: configure vitest and increase test coverage
  package.json
  src/common/components/alert/__tests__/AlertModal.test.tsx
  src/common/components/button/__tests__/AnchorButton.test.tsx
  src/common/components/kukkuuPill/KukkuuPill.tsx
  src/common/route/utils/__tests__/replaceLocaleInPathname.test.ts
  src/domain/child/__tests__/ChildEnrolmentCount.test.tsx
  src/domain/child/__tests__/ChildEventInvitationLabel.test.tsx
  src/domain/profile/events/AdditionalNotesCard.tsx
  src/domain/profile/events/__tests__/AdditionalNotesCard.test.tsx
  src/domain/profile/events/mockDataUtils.ts
  src/domain/profile/modal/RequestVerificationTokenButton.tsx
  src/domain/profile/modal/__tests__/RequestVerificationTokenButton.test.tsx
  src/domain/profile/subscriptions/ManageSubscriptionsForm.tsx
  src/domain/profile/subscriptions/__tests__/ManageSubscriptions.test.tsx
  vitest.config.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

fix(notification): fix routing of internal hrefs in Notification
  package.json
  src/hooks/useRHHCConfig.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

fix(notification): fix routing of internal hrefs in Notification (#669)
  package.json
  src/hooks/useRHHCConfig.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

build: pipeline templates by Ansible scripts
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-release.yml
  pipelines/kukkuu-ui-review.yml
Due: none

chore: pipeline variables from old pipelines
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-review.yml
Due: none

chore: dev&review pipeline urls to .dev.hel.ninja
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-review.yml
Due: none

chore: remove temporaly refs
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-review.yml
Due: none

chore: remove obsolete pipelines
  azure-pipelines-release.yml
  azure-pipelines-review.yml
  azure-pipelines-test.yml
Due: none

chore: browsertest jwt issuer
  browser-tests/utils/jwt/jwt.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

build: refactor pipelines PLATTA-6227 (#671)
  azure-pipelines-test.yml
  browser-tests/utils/jwt/jwt.ts
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-release.yml
  pipelines/kukkuu-ui-review.yml
Due: eslint --max-warnings=0, prettier --write, vitest related --run

build: default branch name change Refs: KK-1427
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  pipelines/kukkuu-ui-dev.yml
  pipelines/kukkuu-ui-review.yml
Due: none

fix: set dependabot reviewers for ratkaisutoimisto
  .github/dependabot.yml
Due: none

chore: revert deps bump @babel/helpers from 7.26.7 to 7.26.10
  yarn.lock
Due: none

chore: revert deps bump dompurify from 3.2.3 to 3.2.4
  package.json
  yarn.lock
Due: prettier -w

fix: configure commitlint to ignore dependabot commits & set more rules
  commitlint.config.cjs
Due: none

fix: try to fix Layout.test.tsx by using MemoryRouter, not BrowserRouter
  src/common/test/TestProviders.tsx
  src/common/test/customRender.tsx
  src/common/test/types.ts
  src/domain/app/__tests__/Layout.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix: layout test by using useLocation consistently from react-router-dom
  src/hooks/useCmsLanguageOptions.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: update testcafe -> ^3.7.2
  package.json
  yarn.lock
Due: prettier -w

chore: try chrome instean of chromium in tests
  package.json
Due: prettier -w

chore: update testcafe
  package.json
  yarn.lock
Due: prettier -w
