Repository City-of-Helsinki/kukkuu-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

chore: enable OIDC renewal by default
  src/domain/app/AppConfig.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

feat: add csp meta-tag
  index.html
Due: prettier -w

fix: consistency between pre-commit & non-pre-commit linting
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  browser-tests/childrenFeature.ts
  browser-tests/utils/jwt/clientUtils/login.ts
  browser-tests/utils/jwt/mocks/testJWTAuthRequests.ts
  browser-tests/utils/settings.ts
  lint-staged.config.js
  package.json
  public/silent_renew.html
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

chore: update graphql schema after viewFamilies permission adding
  src/domain/api/generatedTypes/graphql.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix(localdev): add localhost:*, 127.0.0.1:* to CSP connect-src
  index.html
Due: prettier -w

fix: show "can't enrol" notification also with external ticket systems
  src/domain/event/Event.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix: show "can't enrol" notification in EventRedirect component
  src/domain/event/EventRedirect.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix: add digiaiiris.com to csp
  index.html
Due: prettier -w

feat: hardcode CMS languages for faster language rendering in header
  src/domain/app/footer/__mocks__/languagesMock.ts
  src/domain/headlessCms/client.ts
  src/domain/languages/constants.ts
  src/domain/profile/modal/__tests__/EditProfileModal.test.tsx
  src/domain/registration/form/__tests__/RegistrationForm.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix(csp): allow cms images
  index.html
Due: prettier -w

fix(sonarcloud): conditional render in JSX with {!!x && x}, not {x && x}
  src/common/components/card/Card.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix(sonarcloud): fix removeSurroundingSlashes regex & test it works
  src/utils/__tests__/cmsUtils.test.ts
  src/utils/cmsUtils.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix(sonarcloud): show toast error when onClick navigation promise fails
  src/common/translation/i18n/en.json
  src/common/translation/i18n/fi.json
  src/common/translation/i18n/sv.json
  src/domain/app/navigation/UserNavigation.tsx
  src/domain/event/EventRedirect.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

feat: use apollo client local storage cache persister
  package.json
  src/domain/app/AppConfig.ts
  src/domain/headlessCms/__tests__/client.test.ts
  src/domain/headlessCms/cache.ts
  src/domain/headlessCms/client.ts
  src/domain/headlessCms/persistor.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

feat: use react-router Link in scope of RHHC
  src/hooks/useRHHCConfig.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

docs: add react-router link note to apollo cache persistor
  src/domain/headlessCms/persistor.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: add exclusions to vitest and replace html reporter with text
  vitest.config.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: sync vitest and it's coverage plugin versions
  package.json
  yarn.lock
Due: prettier -w

test: child event invitation label
  src/domain/child/__tests__/ChildEventInvitationLabel.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: alert modal
  src/common/components/alert/__tests__/AlertModal.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: exclude generated files from test coverage
  vitest.config.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

test: child enrolment count
  src/common/components/kukkuuPill/KukkuuPill.tsx
  src/domain/child/__tests__/ChildEnrolmentCount.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

ci: add Github CI workflow
  .github/workflows/ci.yml
Due: none

test: request verification token button
  src/domain/profile/modal/RequestVerificationTokenButton.tsx
  src/domain/profile/modal/__tests__/RequestVerificationTokenButton.test.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

Path conditions:
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  vitest related --run: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
