Repository City-of-Helsinki/kukkuu-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0",
    "prettier --write",
    "vitest related --run"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

docs: update readme contents (to be more structured and consistent)
  README.md
  docs/setup-keycloak.md
  docs/setup-local-kukkuu-api.md
  docs/setup-tunnistamo.md
Due: prettier -w

chore: run "yarn upgrade" to upgrade yarn.lock versions
  yarn.lock
Due: none

docs: husky git commit hooks
  README.md
Due: prettier -w

docs: releases, deployments and release-please
  README.md
Due: prettier -w

fix: dependabot issue #140 i.e. cookie <0.7.0 security vulnerability
  package.json
  yarn.lock
Due: prettier -w

fix: docker-compose.yml VITE_CMS_URI by //graphql → /graphql
  docker-compose.yml
Due: none

docs: "The Tunnistamo" → Tunnistamo, no need for definite article
  docs/setup-keycloak.md
  docs/setup-tunnistamo.md
Due: prettier -w

chore: ignore permission denied in Sentry
  src/index.tsx
  src/utils/sentry.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: remove deprecated version field from docker-compose.yml
  docker-compose.yml
Due: none

docs: revamp README: requirements, getting started, authentication etc
  .dockerignore
  .env
  .env.development
  .env.development.local.example
  Dockerfile
  README.md
  azure-pipelines-review.yml
  compose.override.yaml.example
  compose.yaml
  docs/setup-keycloak.md
  src/domain/registration/notEligible/NotEligibleUtils.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

fix: hero English description, living in Helsinki rather than born in
  src/common/translation/i18n/en.json
Due: prettier -w

refactor(time-utils): replace moment with date-fns
  package.json
  src/common/localization/setLocale.tsx
  src/common/time/TimeConstants.ts
  src/common/time/utils.tsx
  src/domain/event/Event.tsx
  src/domain/event/EventNotificationSubscriptionModal.tsx
  src/domain/event/EventOccurrence.tsx
  src/domain/event/EventUtils.tsx
  src/domain/event/partial/OccurrenceInfo.tsx
  src/domain/profile/children/child/ProfileChild.tsx
  src/domain/profile/children/child/ProfileChildEnrolment.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

fix(time-utils): fix all dates and times to Helsinki timezone
  package.json
  src/common/time/TimeConstants.ts
  src/common/time/utils.tsx
  src/domain/event/EventUtils.tsx
  yarn.lock
Due: eslint --max-warnings=0, prettier --write, vitest related --run, prettier -w

chore: docker compose production port forward
  compose.yaml
Due: none

refactor(time-utils): remove dead code in date handling
  src/common/time/utils.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

fix: end time fallback value in zero duration should be the start time
  src/domain/profile/children/child/ProfileChildEnrolment.tsx
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: update dependencies, deduplicate vite 5 & 6
  package.json
  yarn.lock
Due: prettier -w

chore: enable OIDC renewal by default
  src/domain/app/AppConfig.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

chore: test master branch's browser tests
  src/domain/api/useMutation.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run

feat: add csp meta-tag
  index.html
Due: prettier -w

fix: browser tests in CI/CD pipeline by fixing polling interval/timeout
  src/domain/app/AppConfig.ts
Due: eslint --max-warnings=0, prettier --write, vitest related --run
